<section class="login">
    <div class="login-sec">
        <form action="/login" method="POST" class="">
          <%if(messages.error){%>
            <span style="color: red;font-weight: bold;padding-bottom:10px;"><%=messages.error%></span>
            <%}%>
          <div class=" username">
            <label class="" for="username">
              Email
            </label>
            <input name="email" class="" id="username" type="email" placeholder="Enter your email" autocomplete="off">
          </div>
          <div class="password">
            <label class="" for="password">
              Password
            </label>
            <input name="password" class="" id="password" type="password" placeholder="********" autocomplete="off">
            
          </div>
          <div class="login-btn">
            <button class="" type="submit">
              Log In
            </button>
            <a class="" href="/register">
              Don't have an account?
            </a>
          </div>
        </form>
        <p class="copyright">
          &copy;2021 Parimal Jichkar . All rights reserved.
        </p>
    </div>
</section>