<section class="login">
    <div class="login-sec">
        <form action="/register" method="POST" class="">
            <%if(messages.error){%>
            <span style="color: red;font-weight: bold;"><%=messages.error%></span>
            <%}%>
            <div class=" name">
                <label class="" for="username">
                  Name
                </label>
                <input name="name" value="<%=messages.name%>" class="" id="username" type="text" placeholder="Enter your name" autocomplete="off">
            </div>
          <div class=" username">
            <label class="" for="username">
              Email
            </label>
            <input name="email" value="<%=messages.email%>" class="" id="email" type="email" placeholder="Enter your email" autocomplete="off">
          </div>
          <div class="password">
            <label class="" for="password">
              Password
            </label>
            <input name="password" class="" id="password" type="password" placeholder="********" autocomplete="off">
            
          </div>
          <div class="login-btn">
            <button class="" type="submit">
              Register
            </button>
            <a class="" href="/login">
              Already have an account?
            </a>
          </div>
        </form>
        <p class="copyright">
          &copy;2021 Parimal Jichkar . All rights reserved.
        </p>
    </div>
</section>