<section class="login">
    <div class="login-sec">
        <form class="">
            <div class=" name">
                <label class="" for="username">
                  Name
                </label>
                <input class="" id="username" type="text" placeholder="Enter your name" autocomplete="off">
            </div>
          <div class=" username">
            <label class="" for="username">
              Email
            </label>
            <input class="" id="username" type="email" placeholder="Enter your email" autocomplete="off">
          </div>
          <div class="password">
            <label class="" for="password">
              Password
            </label>
            <input class="" id="password" type="password" placeholder="********" autocomplete="off">
            
          </div>
          <div class="login-btn">
            <button class="" type="button">
              Register
            </button>
            <a class="" href="/login">
              Already have an account?
            </a>
          </div>
        </form>
        <p class="copyright">
          &copy;2021 Parimal Jichkar . All rights reserved.
        </p>
    </div>
</section>