@charset "UTF-8";
.noty_layout_mixin, #noty_layout__centerRight, #noty_layout__centerLeft, #noty_layout__center, #noty_layout__bottomRight, #noty_layout__bottomCenter, #noty_layout__bottomLeft, #noty_layout__bottom, #noty_layout__topRight, #noty_layout__topCenter, #noty_layout__topLeft, #noty_layout__top {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%;
}

#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

.noty_progressbar {
  display: none;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10);
}

.noty_bar {
  -webkit-backface-visibility: hidden;
  transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}

.noty_effects_open {
  opacity: 0;
  transform: translate(50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
          animation: noty_anim_height 75ms ease-out;
}

.noty_close_with_click {
  cursor: pointer;
}

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: 0.3;
  left: 0;
  top: 0;
}

.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in 0.3s ease-out;
          animation: noty_modal_in 0.3s ease-out;
}

.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out 0.3s ease-out;
          animation: noty_modal_out 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes noty_modal_in {
  100% {
    opacity: 0.3;
  }
}

@keyframes noty_modal_in {
  100% {
    opacity: 0.3;
  }
}
@-webkit-keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}
@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes noty_anim_in {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes noty_anim_in {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@-webkit-keyframes noty_anim_out {
  100% {
    transform: translate(50%);
    opacity: 0;
  }
}
@keyframes noty_anim_out {
  100% {
    transform: translate(50%);
    opacity: 0;
  }
}
@-webkit-keyframes noty_anim_height {
  100% {
    height: 0;
  }
}
@keyframes noty_anim_height {
  100% {
    height: 0;
  }
}
.noty_theme__mint.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}
.noty_theme__mint.noty_bar .noty_body {
  padding: 10px;
  font-size: 14px;
}
.noty_theme__mint.noty_bar .noty_buttons {
  padding: 10px;
}

.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  background-color: #fff;
  border-bottom: 1px solid #D1D1D1;
  color: #2F2F2F;
}

.noty_theme__mint.noty_type__warning {
  background-color: #FFAE42;
  border-bottom: 1px solid #E89F3C;
  color: #fff;
}

.noty_theme__mint.noty_type__error {
  background-color: #DE636F;
  border-bottom: 1px solid #CA5A65;
  color: #fff;
}

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
  background-color: #7F7EFF;
  border-bottom: 1px solid #7473E8;
  color: #fff;
}

.noty_theme__mint.noty_type__success {
  background-color: #AFC765;
  border-bottom: 1px solid #A0B55C;
  color: #fff;
}

* {
  border-radius: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

.navbar {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 20px 20px 20px 100px;
}

.nav-links ul {
  display: flex;
  margin: 20px;
  padding: 0px 200px;
  align-items: center;
}

.nav-links ul li {
  text-decoration: none;
  list-style-type: none;
  margin-left: 20px;
}

.nav-links ul li a {
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-around;
  color: #232323;
  font-weight: 600;
}
.nav-links ul li a:hover {
  color: #FE5F1E;
}

.nav-links ul li:last-child a {
  background: #FE5F1E;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.nav-links ul li:last-child a:hover {
  background: #b23301;
}

.nav-links .cartCounter {
  color: #fff;
  padding-right: 5px;
}

.hero {
  margin: 0px 100px;
  padding: 50px 0px;
  background: #F8F8F8;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right img {
  height: 500px;
  margin-right: 10px;
  margin-right: 0px;
}

.left {
  line-height: 1.5;
}

.left h6 {
  font-size: 25px;
}

.left h1 {
  font-size: 60px;
}

.hero-section .left button {
  transition: all 0.3s ease-in-out;
  border: none;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  color: #fff;
  background: #FE5F1E;
  border-radius: 25px;
  font-size: 20px;
  margin-top: 30px;
}
.hero-section .left button:hover {
  background: #b23301;
}

.menu h1 {
  margin-left: 100px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 100px;
}

.menu .menus {
  display: grid;
  margin: 50px 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 100px;
}

.menu-items {
  width: 300px;
}

.menu-items img {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.details h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.menus .details .size {
  padding: 30px 0px;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 20px;
}

.cost-add {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.cost-add .price {
  font-weight: bold;
  font-size: 20px;
}

.cost-add .add {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
  transition: all 0.3s ease-in-out;
  padding: 2px 20px;
  border-radius: 25px;
  font-weight: bold;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
}
.cost-add .add:hover {
  background: #FE5F1E;
  border-color: #fff;
  color: #fff;
}

.details {
  text-align: center;
}

.empty-cart .no-order {
  margin-top: 50px;
  text-align: center;
  line-height: 2;
}

.empty-cart .no-order img {
  height: 400px;
  margin-top: 20px;
}

.empty-cart .no-order p {
  font-size: 20px;
  font-weight: 300;
  color: #666464;
}

.empty-cart .no-order a {
  display: block;
  transition: all 0.3s ease-in-out;
  border: none;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 5px 20px;
  color: #fff;
  background: #FE5F1E;
  border-radius: 25px;
  font-size: 20px;
  margin-top: 100px;
  width: 200px;
  margin: auto;
}
.empty-cart .no-order a:hover {
  background: #b23301;
}

.empty-cart .order .head {
  margin: auto;
  display: flex;
  align-items: center;
  border-bottom: 1px #b9b8b8 solid;
  width: 50%;
  margin-top: 50px;
  padding-bottom: 20px;
}

.empty-cart .order .head h1 {
  margin-left: 20px;
}

.order-list {
  padding: 20px 0px;
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-list img {
  height: 150px;
}

.order-list div {
  text-align: center;
}

.order-list .qty {
  font-size: 18px;
  font-weight: bold;
}

.order-list .price {
  font-size: 18px;
  font-weight: bold;
}

.order-list div .size {
  text-transform: uppercase;
  font-size: 15px;
}

.order hr {
  width: 50%;
  margin: auto;
  color: #b9b8b8;
}

.billing {
  text-align: right;
  width: 50%;
  margin: auto;
  padding: 20px 0px;
}

.bill-detail .cost {
  font-weight: bold;
  font-size: 20px;
}

.bill-detail .value {
  font-weight: bold;
  font-size: 25px;
  padding-left: 40px;
  color: #FE5F1E;
}

.billing .delivery input {
  border: 1px solid #858383;
  width: 50%;
  padding: 10px;
  margin: 10px 0px;
  font-size: 15px;
}

.billing .delivery button {
  transition: all 0.3s ease-in-out;
  border: none;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  color: #fff;
  background: #FE5F1E;
  border-radius: 25px;
  font-size: 20px;
  margin-top: 30px;
  width: 200px;
}
.billing .delivery button:hover {
  background: #b23301;
}

.hidden {
  margin-top: 20px;
  padding: 30px;
}

.not-login {
  transition: all 0.3s ease-in-out;
  border: none;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  color: #fff;
  background: #FE5F1E;
  border-radius: 25px;
  font-size: 20px;
  width: 200px;
}
.not-login:hover {
  background: #b23301;
}

.login {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  background: #F8F8F8;
}

.login-sec {
  width: 400px;
}

.login-sec form {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  border-radius: 10px;
}

.login-sec form .name {
  margin-bottom: 20px;
  padding-top: 20px;
}

.login-sec form .name label {
  display: block;
  color: #747171;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-sec form .name input {
  border: 1px solid gray;
  box-shadow: 0px 2px 10px #b3aeae;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin: 10px 0px;
}

.login-sec form .username {
  margin-bottom: 20px;
}

.login-sec form .username label {
  display: block;
  color: #747171;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-sec form .username input {
  border: 1px solid gray;
  box-shadow: 0px 2px 10px #b3aeae;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin: 10px 0px;
}

.login-sec form .password label {
  display: block;
  color: #747171;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-sec form .password input {
  border: 1px solid gray;
  box-shadow: 0px 2px 10px #b3aeae;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin: 10px 0px;
}

.login-sec form .password p {
  color: #FE5F1E;
  font-style: italic;
  margin: 30px 0px;
}

.login-sec form .login-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.login-sec form .login-btn button {
  transition: all 0.3s ease-in-out;
  border: none;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 10px 10px;
  color: #fff;
  background: #FE5F1E;
  border-radius: 25px;
  font-size: 20px;
  margin-top: 20px;
  width: 100px;
}
.login-sec form .login-btn button:hover {
  background: #b23301;
}

.login-sec form .login-btn a {
  transition: all 0.3s ease-in-out;
  border: none;
  text-decoration: none;
  padding-left: 20px;
  color: #FE5F1E;
  font-size: 15px;
  margin-top: 20px;
  width: 200px;
  font-weight: bold;
}
.login-sec form .login-btn a:hover {
  color: #b23301;
}

.login-sec .copyright {
  text-align: center;
  color: #a19f9f;
  padding-top: 20px;
}

.noty_theme__mint {
  border-radius: 50px !important;
  padding-left: 8px !important;
}

.container {
  padding: 13px;
  margin-left: 100px;
  width: 80%;
}

.container h1 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

#success-alert {
  display: flex;
  align-items: center;
  background: #52a152;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.order-table {
  width: 100%;
  background: #fff;
  text-align: left;
  margin-top: 20px;
}

thead .head-row th {
  padding: 10px;
}

tbody .link {
  color: #FE5F1E;
  text-decoration: none;
}

tbody tr td {
  padding: 10px;
}

#orderTableBody {
  font-size: 18px;
}

#orderTableBody select {
  padding: 5px;
  border-radius: 10px;
}

.status-container {
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

.status-container .status-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status-container .status-head h5 {
  color: green;
  font-size: 15px;
}

.order-status ul {
  margin-top: 50px;
}

.order-status ul {
  padding-left: 0px;
  margin-left: 84px;
}

.order-status ul li {
  text-decoration: none;
  list-style-type: none;
  padding: 30px 80px;
  font-size: 20px;
}

.order-status ul li span {
  position: relative;
  padding-left: 20px;
}

.order-status ul li span:after {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  background: #232323;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 1px 10px #F8F8F8;
}

.order-status ul li span:before {
  content: "";
  font-family: "Line Awesome Free";
  font-size: 46px;
  font-weight: 900;
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
}

.order-status ul li:nth-child(1) span:before {
  content: "";
}

.order-status ul li:nth-child(2) span:before {
  content: "";
}

.order-status ul li:nth-child(3) span:before {
  content: "";
}

.order-status ul li:nth-child(4) span:before {
  content: "";
}

.order-status ul li:nth-child(5) span:before {
  content: "";
}

.order-status ul li {
  position: relative;
}

.order-status ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 2px;
  height: 100%;
  background: #232323;
}

.order-status ul li:nth-child(1) span:after {
  box-shadow: 0 -29px 1px 20px #F8F8F8;
  padding-bottom: 0px;
}

.order-status ul li:nth-child(5) span:after {
  box-shadow: 0 29px 1px 20px #F8F8F8;
  padding-bottom: 0px;
}

.order-status ul li.step-completed:before {
  background: gray;
}

.order-status ul li.step-completed span:after {
  background: gray;
}

.order-status ul li.step-completed span {
  color: gray;
}

.order-status ul li.current span {
  color: #FE5F1E;
}

.order-status ul li.current span:after {
  background: #FE5F1E;
}

.order-status ul li small {
  float: right;
  font-size: 18px;
}

@media (max-width: 1496px) {
  .logo {
    margin-left: 0px;
    margin-right: 0px;
  }

  .menu h1 {
    margin-bottom: 20px;
  }

  .navbar {
    width: 90%;
    margin: auto;
  }

  .menu .menus {
    width: 90%;
    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
  }

  .menu .menus {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .nav-links ul {
    padding-right: 0px;
    align-items: right;
  }

  .hero {
    margin-top: 2px;
  }
}
@media (max-width: 1228px) {
  .right img {
    height: 300px;
  }

  .menu-items img {
    height: 200px;
  }

  .hero-section h6, h1 {
    font-size: 30px;
  }

  .order .order-list {
    width: 90%;
  }

  .empty-cart .order .head {
    width: 90%;
  }

  .pizza-list img {
    height: 100px;
  }

  .pizza-list h1 {
    font-size: 20px;
  }

  .order hr {
    width: 90%;
  }

  .billing {
    width: 90%;
  }
}
@media (max-width: 1128px) {
  .menu h1 {
    margin-left: 50px;
    margin-bottom: 20px;
  }

  .menus {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
  }

  .menu .menus {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 984px) {
  .menu h1 {
    margin-bottom: 80px;
  }

  .hero-section h6, h1 {
    font-size: 20px;
  }

  .hero {
    width: 100%;
    margin-left: 0px;
  }

  .left {
    margin-left: 20px;
  }

  .orders .container {
    width: 100%;
    margin-left: 0px;
  }

  .status-container {
    width: 90%;
  }

  .admin-side .order-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
@media (max-width: 760px) {
  .menu .menus {
    grid-template-columns: 1fr;
  }

  .menu-items {
    width: 80%;
    margin: auto;
  }

  .right img {
    height: 300px;
  }

  .nav-links ul {
    padding-left: 0px;
  }
}
@media (max-width: 566px) {
  .hero-section {
    flex-direction: column;
  }

  .right {
    width: 100%;
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-1%);
  }

  .right img {
    margin: 0px;
    padding: 0px;
  }

  .left {
    width: 100%;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
  }

  .right {
    display: none;
  }
}
@media (max-width: 544px) {
  .pizza-list h1 {
    font-size: 20px;
  }

  .pizza-list span {
    font-size: 20px;
  }

  .order-list img {
    height: 50px;
  }

  .order-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
