<section class="orders admin-side">
    <div class="container">
        <h1 class="heading">All orders</h1>
        
        <table class="order-table">
            <thead>
                <tr class="head-row">
                    <th>Orders</th>
                    <th>Customer</th>
                    
                    <th>Address</th>
                    <th>Status</th>
                    <th>Time</th>
                    <th>Payment Status</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
                
            </tbody>
        </table>
    </div>
</section>