@import './variables';

@import '~noty/src/noty.scss';

@import '~noty/src/themes/mint.scss';

*{
    border-radius: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:'Lato',sans-serif;
    -webkit-font-smoothing:antialiased;
    color: $dark;
    
    // height: 4000px!important;
}

//Navbar

.navbar
{
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    margin:20px 20px 20px 100px;
}

.nav-links ul{
    display: flex;
    margin: 20px;
    padding: 0px 200px;
    align-items: center;
}

.nav-links ul li{
    text-decoration: none;
    list-style-type: none;
    margin-left: 20px;
    
}

.nav-links ul li a{

    transition:$smooth;
    &:hover{
        color:$primary
    }
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-around;
    color: $dark;
   font-weight: 600;
}

.nav-links ul li:last-child a{

    &:hover{
        background:$primary-hover;
    }
    background: $primary;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.nav-links .cartCounter{
    color:$pure;
    padding-right: 5px;
}

//Hero section

.hero{
    margin: 0px 100px;
    padding: 50px 0px;
    background: $secondary;
}

.hero-section
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right img{
    height: 500px;
    margin-right:10px ;
    margin-right: 0px;
   
}

.left{
    line-height: 1.5;
    
}
.left h6{
    font-size: 25px;
}

.left h1{
    font-size: 60px;
}

.hero-section .left button{
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
    border: none;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding:10px 20px;
    color: $pure;
    background: $primary;
    border-radius: 25px;
    font-size: 20px;
    margin-top:30px;
}

//Menu

.menu h1{
    margin-left: 100px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
}

.menu .menus{
    display: grid;
    margin: 50px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 100px;
}

.menu-items{
    
    width: 300px;
}
.menu-items img{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}

.details h2{
    margin-bottom: 20px;
    font-size: 20px;
}

.menus .details .size{
    padding: 30px 0px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 20px;
    
}

.cost-add{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.cost-add .price{
    font-weight: bold;
    font-size: 20px;
}

.cost-add .add{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border-color:$pure;
        color: $pure;
    }
    padding: 2px 20px;
    border-radius: 25px;
    font-weight: bold;
    background: $pure;
    cursor: pointer;
    font-size: 18px;
}

.details{
    text-align: center;
}

//Cart Section no-order

.empty-cart .no-order
{
    margin-top: 50px;
    text-align: center;
    line-height: 2;
}

.empty-cart .no-order img{
    height: 400px;
    margin-top: 20px;
}
.empty-cart .no-order p{
    font-size: 20px;
    font-weight: 300;
    color: rgb(102, 100, 100);
}

.empty-cart .no-order a{
    display:block;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
    border: none;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding:5px 20px;
    color: $pure;
    background: $primary;
    border-radius: 25px;
    font-size: 20px;
    margin-top:100px;
    width: 200px;
    margin: auto;
}

//Cart section orders present

.empty-cart .order .head{
    margin: auto;
    display: flex;
    align-items: center;
    border-bottom:1px rgb(185, 184, 184) solid;
    width: 50%;
    margin-top: 50px;
    padding-bottom: 20px;
}

.empty-cart .order .head h1{
    margin-left: 20px;
}

.order-list{
    padding: 20px 0px;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-list img{
    height:150px

}
.order-list div{
    text-align: center;
}

.order-list .qty{
    font-size: 18px;
    font-weight: bold;
}
.order-list .price{
    font-size: 18px;
    font-weight: bold;
}

.order-list div .size{
    text-transform: uppercase;
    font-size: 15px;
    
}

.order hr{
    width: 50%;
    margin: auto;
    color: rgb(185, 184, 184);
}

.billing{
    text-align: right;
    width: 50%;
    margin: auto;
    padding: 20px 0px;
}

.bill-detail .cost{
    font-weight: bold;
    font-size: 20px;
}
.bill-detail .value{
    font-weight: bold;
    font-size: 25px;
    padding-left: 40px;
    color: $primary;
}

.billing .delivery input
{
    border: 1px solid rgb(133, 131, 131);
    width: 50%;
    padding: 10px;
    margin: 10px 0px;
    font-size: 15px;
}

.billing .delivery button
{
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
    border: none;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding:10px 20px;
    color: $pure;
    background: $primary;
    border-radius: 25px;
    font-size: 20px;
    margin-top: 30px;
    width: 200px;
    
}

.hidden{
    margin-top: 50px;
}
.not-login{
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
    border: none;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding:10px 20px;
    color: $pure;
    background: $primary;
    border-radius: 25px;
    font-size: 20px;
   
    
    width: 200px;
}

//Login Section (styles apply to both login and register page only one element of name is added)
.login{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    background: $secondary;
}

.login-sec{
    width: 400px;
}

.login-sec form{
    background: $pure;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    
    border-radius: 10px;
}
.login-sec form .name{
    margin-bottom: 20px;
    padding-top: 20px;
}
.login-sec form .name label{
    display: block;
    color: rgb(116, 113, 113);
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}
.login-sec form .name input{
    border: 1px solid gray;
    box-shadow: 0px 2px 10px rgb(179, 174, 174);
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin: 10px 0px;
}

.login-sec form .username{
    margin-bottom: 20px;
    
}
.login-sec form .username label{
    display: block;
    color: rgb(116, 113, 113);
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}
.login-sec form .username input{
    border: 1px solid gray;
    box-shadow: 0px 2px 10px rgb(179, 174, 174);
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin: 10px 0px;
}

.login-sec form .password label{
    display: block;
    color: rgb(116, 113, 113);
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}
.login-sec form .password input{
    border: 1px solid gray;
    box-shadow: 0px 2px 10px rgb(179, 174, 174);
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin: 10px 0px;
}
.login-sec form .password p{
    
    color: $primary;
    font-style:italic;
    margin: 30px 0px;
    
}

.login-sec form .login-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;

}

.login-sec form .login-btn button{
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
    border: none;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding:10px 10px;
    color: $pure;
    background: $primary;
    border-radius: 25px;
    font-size: 20px;
    margin-top: 20px;
    width: 100px;

}
.login-sec form .login-btn a{
    transition: $smooth;
    &:hover{
        color: $primary-hover;
    }
    border: none;
    text-decoration: none;
    padding-left: 20px;      
    color: $primary;
      
    font-size: 15px;
    margin-top: 20px;
    width: 200px;
    font-weight: bold;
}

.login-sec .copyright{
    text-align: center;
    color: rgb(161, 159, 159);
    padding-top: 20px;
    
}

//For Noty animation

.noty_theme__mint{
    border-radius: 50px!important;
    padding-left: 8px!important;
}

//order summary

.container
{
    
    padding: 13px;
    margin-left: 100px;
    width: 80%;
}

.container h1{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

#success-alert{
    display: flex;
    align-items: center;
    background: rgb(82, 161, 82);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.order-table{
    width: 100%;
    background: $pure;
   
    text-align: left;
    margin-top: 20px;
}

thead .head-row th{
    padding: 10px;
}

tbody .link{
    color: $primary;
    text-decoration: none;
}

tbody tr td{
    // text-align: center;
    padding:10px;
}

//admin orders 

#orderTableBody{
    font-size: 18px;
    
}
#orderTableBody select{
    padding: 5px;
    border-radius: 10px;
}

//Customer Orders Status

.status-container{
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.status-container .status-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status-container .status-head h5{
    color: green;
    font-size: 15px;
}

//Dots
.order-status ul{
    margin-top: 50px;
}
.order-status ul{

    padding-left: 0px;

    margin-left: 84px;
}

.order-status ul li{
    text-decoration: none;
    list-style-type: none;
    padding:30px 80px;
    font-size: 20px;

}
.order-status ul li span{
    position: relative;
    padding-left: 20px;
}

.order-status ul li span:after{
    content:'';
    position: absolute;
    left: -10px;
    top: 50%;
    background: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 1px 10px $secondary;
}

//Icons

.order-status ul li span:before{
    content:'\f46c';
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 900;
    position: absolute;
    left:-70px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
    
}

.order-status ul li:nth-child(1) span:before{
    content:'\f46c';
}

.order-status ul li:nth-child(2) span:before{
    content:'\f560';
}

.order-status ul li:nth-child(3) span:before{
    content:'\f818';
}

.order-status ul li:nth-child(4) span:before{
    content:'\f0d1';
}

.order-status ul li:nth-child(5) span:before{
    content:'\f582';
}
.order-status ul li{
    position: relative;
}

//line 
.order-status ul li:before{
    content:'';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: $dark;
  
    
}


.order-status ul li:nth-child(1) span:after{
    box-shadow:0 -29px 1px 20px $secondary;
    padding-bottom: 0px;
}

.order-status ul li:nth-child(5) span:after{
    box-shadow:0 29px 1px 20px $secondary;
    padding-bottom: 0px;
}

//line
.order-status ul li.step-completed:before{
    background: gray;
}

//dots

.order-status ul li.step-completed span:after{
    background: gray;
}

//text

.order-status ul li.step-completed span{
    color: gray;
}

//current status

.order-status ul li.current span{
    color: $primary;
}

.order-status ul li.current span:after{
    background:$primary;
}

.order-status ul li small{
    float: right;
    font-size: 18px;
}


//Responsive

@media(max-width:1496px) {
    .logo{
        margin-left: 0px;
        margin-right: 0px;

    }
    .menu h1{
        margin-bottom: 20px;
    }
    .navbar{
        width: 90%;
        margin: auto;
    }
    .menu .menus{
        width: 90%;
        margin-left: 0px;
        margin-right: 0px;
        margin: auto;
    }
    .menu .menus{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .nav-links ul{
        padding-right: 0px;
        align-items: right;
    }
    .hero{
        margin-top: 2px;
    }
}

@media(max-width:1228px){
    .right img{
        height: 300px;
    }
    .menu-items img{
        height: 200px;
    }
    .hero-section h6,h1{
        font-size: 30px;
    }
    // .empty-cart{
    //     width: 90%;
    // }
    .order .order-list{
        width: 90%;
    }
    .empty-cart .order .head{
        width: 90%;
        
    }
    .pizza-list img{
        height: 100px;
    }
    .pizza-list h1{
        font-size: 20px;
    }
    .order hr{
        width: 90%;
    }
    .billing{
        width: 90%;
    }
} 

@media(max-width:1128px)
{
    .menu h1{
        margin-left: 50px;
        margin-bottom: 20px;
    }
    .menus{
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
    }
    .menu .menus{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:984px)
{
    .menu h1{
       
        margin-bottom: 80px;
    }
    .hero-section h6,h1{
        font-size: 20px;
    }
    .hero{
        width: 100%;
        margin-left: 0px;
    }
    .left{
        margin-left: 20px;
    }
    .orders .container{
        width: 100%;
        margin-left: 0px;
    }
    .status-container{
        width: 90%;
    }
    .admin-side .order-table{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    
}

@media(max-width:760px)
{
    .menu .menus{
        
        grid-template-columns: 1fr;
    }
    .menu-items{
        width: 80%;
        margin: auto;
    }
    .right img{
        height: 300px;
    }
    .nav-links ul{
        padding-left: 0px;
    }
    
}

@media(max-width:566px)
{
    .hero-section{
        flex-direction: column;
    }
    .right{
        width: 100%;
        margin-top: 50px;
        margin-left: 50%;
        transform: translateX(-1%);

    }
    .right img{
        margin: 0px;
        padding: 0px;

    }
    .left{
        width: 100%;
        text-align: center;
    }
    .navbar{
        flex-direction: column;
    }
    .right{
        display: none;
    }
    
}

@media(max-width:544px)
{
    .pizza-list h1{
        font-size: 20px;
    }
    .pizza-list span{
        font-size: 20px;
    }
    .order-list img{
        height: 50px;
    }
    .order-table{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    
}