<section class="empty-cart">
    <div class="order">
        <div class="head">
            <img src="/img/cart-black.png" alt="">
            <h1> Order Summary</h1>

        </div>
        <div class="pizza-list">
            <div class="order-list">
                <img src="/img/pizza.png" alt="">
                <div>
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="qty">1Pcs</span>
                <span class="price">$300</span>
            </div>
            <div class="order-list">
                <img src="/img/pizza.png" alt="">
                <div>
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="qty">1Pcs</span>
                <span class="price">$300</span>
            </div>
            
        </div>
        <hr>
        <div class="billing">
            <div class="bill-detail">
                <span class="cost">Total Amount:</span>
                <span class="value">$300</span>
            </div>
            <div class="delivery" action="">
                <form action="">
                    <input type="text" placeholder="Phone Number">
                    <input type="text" placeholder="Address">
                    <div>
                        <button type="submit">Order Now</button>
                    </div>
                </form>
            </div>
            <!-- <div class="hidden">
                <a href="" class="not-login">Login to continue</a>
            </div> -->
            
        </div>
    </div>
    <!-- <div class="no-order">
        <h1>Cart Empty 🙁</h1>
        <p>You probably haven't ordered a pizza yet.
            To order a pizza go to the main page.
        </p>
        <img src="/img/empty-cart.png" alt="empty-cart">
        <a href="/">Go back</a>
    </div> -->

</section>